* {
  box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  /*    border: 1px solid red;*/ }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

body {
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

h1 {
  font-size: 24px;
  margin: 10px;
  text-align: right; }

#header {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #eb3349, #e12967); }

p {
  margin: 10px;
  text-align: right; }

.loginPage {
  width: 100%;
  height: 100%;
  display: table; }

.splashContent {
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

#logo {
  width: 200px;
  opacity: 0.8; }

#fbLoginButton {
  background-color: white;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 10;
}

#fbLogoutButton {
  background-color: white;
  text-align: center;
  padding: 8px 0;
  margin-top: 10px;
}

#infoButtonContainer {
	background: linear-gradient(to right, #eb3349, #e12967);
	padding: 10px 0;
}

#infoButtonBorder {
  display: inline-block;
  margin: auto;
  width: auto;
  border: 2px solid white;
  text-align: center;
  padding: 2px 10px;
  color: white;
  transition: .3s ease-in-out;
}

#infoButtonBorder:hover {
	background-color: white;
	color: #eb3349;
}

.infoScreen {
    height: 0;
    width: 100%;
    position: relative;
    z-index: 1;
    bottom: 0;
    left: 0px;
    background: linear-gradient(to right, #eb3349, #e12967);
    overflow-x: hidden;
    transition: 0.5s;
	overflow: hidden;
}

#infoContent {
	text-align: center;
	color: white;
	font-size: 15px;
	padding: 0 20px;
}

.forecastPage {
  display: none; }

#displayCity {
  font-size: 22px;
  margin-bottom: -10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#displayDate {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #eb3349, #e12967); }

#gifContainer {
  height: auto;
  background: linear-gradient(to right, #eb3349, #e12967); }

img {
  width: 100%; }

#weatherInfoContainer {
  padding: 20px 0 20px 0;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #eb3349, #e12967);
  color: white;
  text-align: center;
  font-size: 18px;
  transition: .3s ease-in-out; }

#displayWeatherIcon {
  text-align: right;
  height: 52px; }

#weatherImg {
  width: auto;
  height: 45px;
  padding-right: 5px; }

.temperatureContainer {
  display: table; }

#displayTemperature {
  height: 50px;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 5px; }

#displayWeatherSummary {
  padding: 20px;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#menuOpenButton {
  display: block;
  float: left;
}

#menuHeader {
  color: white;
  text-align: left;
}

#menuCloseButton {
  margin-left: 60px;
}

#developerCheckBox {
  margin: 10px;
  text-align: left;
  color: white;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  top: 2px;
  width: 40px;
  height: 20px;
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: rgba(0, 0, 0, 0.3);
}

input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

label:active:after {
  width: 26px;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background: linear-gradient(to right, #eb3349, #e12967);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

#darkskyAttribution {
  text-align: center;
  padding: 0 40px;
  width: 250px;
  position: absolute;
  bottom: 10px;
}

@media screen and (min-width: 321px) {
  body {
    height: 568px;
    width: 320px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }